@import 'base';

%shared-font {
  font-family: "Roboto Light", serif;
  font-style: normal;
}

.App {
  @extend %shared-font;
  background-color: $primary-background-color;
  position: center;
  margin: auto;
  width: 50%;
  transform: translate(0%,70%);
}

.todo-app {
  color: $primary-color;
  text-align: $primary-position;
  background-color: $secondary-background-color;
  padding: 5px;
}

