@import "base";

%shared-font {
  font-family: "Roboto Light", serif;
  font-style: normal;
}

.filter {
  @extend %shared-font;
  position: $primary-position;
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 10px;
}

.filter--active {
  @extend %shared-font;
  background-color: #585353;
  padding: 10px;
}

.visibility-filters {
  display: flex;
  justify-content:center;
}