@import 'base';

%shared-font {
  font-family: "Roboto Light", serif;
  font-style: normal;
}

.todo-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.todo-text {
  @extend %shared-font;
  color: $primary-color;
  padding-right: 10px;
  text-align: left;
}

.todo-buttons {
  text-align: right;
}

.todo-textCompleted {
  color: red;
  text-decoration-line: line-through;
}

.edit-todo {
  background-color: $secondary-background-color;
  color: $primary-color;
}

.delete-todo {
  background-color: $secondary-background-color;
  color: $primary-color;
}